{% extends "base.html" %}
{% block title %}
    Register Page
{% endblock title %}
{% block content %}
    <main>
        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>
                Site<span>Random</span>
            </div>
        </div>
        <br>
        <div class="register">
            <input type="text" placeholder="username" name="user">
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="button" value="Login">
        </div>
    </main>
{% endblock content %}
